
.header {
    background-image: url(../img/bg_320.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 140px;
}

.logo-title {
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    color: #ffffff;
    text-align: center;
}

.menu-list {
    margin-bottom: 8.375rem;
    text-align: center;
}

.menu-item-1 {
    margin: auto;
    text-align: right;
}

.menu-item-2 {
    margin: auto;
    text-align: left;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.625rem 0.9375rem;
    border: 1px solid transparent;
}

.logo-box {
    margin-bottom: 40px;
}

.menu-link:hover {
    border: 1px solid #ffffff;
    border-radius: 3rem;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.438rem;
}

.header-text {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.125rem;
    color: #ffffff;
    text-align: center;
    max-width: 220px;
    margin: auto;
    margin-bottom: 1.25rem;
}

.btn-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 0.875rem;
    display: block;
    margin: auto;
    border: 1px solid #ff4e50;
    background-color: #ff4e50;
    border-radius: 3rem;
    padding: 0.9375rem 3rem;
}

@media (min-width: 768px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/bg_768.jpg);
        padding-bottom: 234px;
    }

    .header-title {
        font-size: 3.25rem;
        width: 31.5rem;
        margin: auto;
        margin-bottom: 2.625rem;
    }

    .header-text {
        font-size: 1.5rem;
        max-width: 100%;
        margin-bottom: 2.375rem;
    }

    .btn-header {
        padding: 0.9375rem 1.438rem;
    }
}

@media (min-width: 769px) {
    .header {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/header_bgd.jpg);
    }
}