

.services {
    text-align: center;
}

.pre-title {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333333;
    padding-bottom: 24px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #333333;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 65px;
}



.title::after {
    content: '';
    display: block;
    background-color: #f38181;
    height: 3px;
    width: 60px;
    margin: auto;
    margin-top: 43px;
}

.wrapper-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 2;
    align-items: flex-start;
}

.services-card {
    display: block;
    min-width: 320px;
    width: 320px;
    text-align: left;
    padding-bottom: 100px;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}

.photo::before, .web::before, .creativity::before, .seo::before, .html::before, .digital::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 30px;
}

.photo::before {
    background-image: url("../img/alarm.png");
}

.web::before {
    background-image: url("../img/line.png");
}

.creativity::before {
    background-image: url("../img/computer.png");
}

.seo::before {
    background-image: url(../img/book.png);
}

.html::before {
    background-image: url(../img/home.png);
}

.digital::before {
    background-image: url(../img/digital.png);
}

.services-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #999999;
    padding-left: 62px;
}