
.team {
    margin: auto;
    text-align: center;
    padding-bottom: 85px;
    border-bottom: 1px solid #e5e5e5;
}

.team-text {
    margin-bottom: 95px;
}

.team-card {
    width: 380px;
    font-size: 0;
    position: relative;
}

.hidden-box {
    width: 380px;
    height: 470px;
    position: relative;
    margin-bottom: 30px;
}

.team-photo {
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
}

.hidden {
    width: 380px;
    height: 470px;
    vertical-align: middle;
    padding: 208px 78px;
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.8));
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.hidden-box:hover > .team-photo {
    transition: 200ms linear 0s;
    box-shadow: 10px 10px 0 0 rgba(149, 225, 211, 1);
    transform: translate(-10px, -10px);
}

.hidden-box:hover > .hidden {
    transition: 200ms linear 0s;
    opacity: 1;
    transform: translate(-10px, -10px);
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 16px;
}

.profi {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #999999;
    font-style: italic;
}

.btn-link {
    display: inline-block;
    width: 55px;
    height: 55px;
    border: none;
    margin-right: 1px;
    position: relative;
    background-color: #fce38a;
}

.btn-social {
    vertical-align: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*.btn-social:last-child {*/
    /*margin-right: 0;*/
/*}*/

.btn-link:hover {
    background-color: #95e1d3;
    transition: 200ms;
}

.team-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}