

.stopwatch {
    margin: auto;
    text-align: center;
}


.time {
    font-size: 70px;
    border: 5px solid black;
    border-radius: 10px;
}

.btn {
    font-size: 30px;
    padding: 15px;
    width: 300px;
}

/*.js-start {*/
    /*background-color: green;*/
/*}*/

.laps {
    font-size: 30px;
}

/*.red {*/
    /*background-color: green;*/
/*}*/