

.wrapper-footer {
    background-color: #323232;
}

.footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 35px 35px;
}

.copyright {}

.designer {
    color: #46bfa9;
}
