

.container {
    width: 900px;
    margin: auto;

}

.card {
    display: inline-block;
    width: 418px;
    margin-right: 60px;
}

.template-img {
    width: 418px;
}

.img-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    display: inline-block;
    margin: 30px 0 30px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
    color: #626262;
    margin-bottom: 40px;
}

.text {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
    margin-bottom: 135px;

}

.card:nth-child(2n+2) {
    margin-right: 0;
}

/*last part of page, 5 and 6 cards*/
.text-last {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    font-weight: 400;
    color: #626262;
}

/*button style*/
.for_button {
    text-align: center;
}

.btn {
    height: 60px;
    width: 163px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    margin: 60px 0 70px;
}

