

.container {
    width: 900px;
    margin: auto;
}

.card {
    font-family: 'Playfair Display', serif;
    display: inline-block;
    width: 418px;
    margin-right: 60px;
    margin-bottom: 135px;
}

.template-img {
    width: 418px;
    margin-bottom: 30px;
}

.img-text {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    display: inline-block;
    /*margin: 30px 0 30px;*/
    margin-bottom: 30px;
}

.title {
    /*font-family: 'Playfair Display', serif;*/
    font-size: 30px;
    font-weight: 400;
    color: #626262;
    margin-bottom: 40px;
}

.text {
    /*font-family: 'Playfair Display', serif;*/
    font-size: 14px;
    font-weight: 400;
    color: #626262;
}

.card:nth-child(2n+2) {
    margin-right: 0;
}

.card:nth-last-child(-n+2) {
    margin-bottom: 60px;
}

/*button style*/

.container-btn {
    width: 900px;
    margin: auto;
    text-align: center;
}

/*.for_button {*/
    /*!*text-align: center;*!*/
/*}*/

.btn {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    /*margin: 60px 0 70px;*/
    margin-bottom: 70px;
    padding: 21px 34px;
}

