

.wrapper {
    background-color: #ffffff;
}

.container {
    width: 1110px;
    margin: auto;
}

.header {
    padding: 45px 0 110px;
}

.logo {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #555252;
    font-size: 30px;
    text-transform: uppercase;
    float: left;
}

.logo::first-letter {
    font-weight: 900;
    color: #1abc9c;
}


.navigation {
    float: right;
}

.nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 34px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color: #48c9b0;
}

