

.products {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 105px;
}

.title {
    font-weight: 900;
    font-size: 48px;
    text-transform: uppercase;
    margin-bottom: 90px;
}

.title::after {
    content: '';
    display: block;
    background-color: #1abc9c;
    height: 7px;
    width: 164px;
    margin: auto;
    margin-top: 32px;
}

.products-cards {
    width: 255px;
    float: left;
    margin: 0 30px 30px 0;
}

.products-cards:nth-child(4n+5) {
    margin-right: 0;
}

.products-cards:hover> .product-name {
    background-color: #1abc9c;
}

.products-cards:hover> .products-price {
    background: #7fd9c7;
}

.container-img {
    width: 255px;
    height: 280px;
    background-color: #e9f0fd;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.products-img {
    position: relative;
    height: 280px;
    width: 255px;
}

.product-name {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    color: #ffffff;
    text-align: left;

    width: 200px;
    padding: 14px 0 14px 13px;
    background-color: #000000;
}

.products-price {
    display: inline-block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #ffffff;

    width: 55px;
    background-color: #8c8c8c;
    padding: 14px 0;
}

.product-name, .products-price {
    float: left;
}