html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper-header {
  width: 100%;
  background-image: linear-gradient(90deg, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header__box {
  @include flex(row, space-between);
  margin-bottom: 172px;
}

.header__logo-link {
  @extend %Montserrat-bold;
  @include header-font(none, 30);
  padding-top: 30px;
}

.menu__list {
  width: 630px;
  @include flex(row, space-between);
  padding-top: 40px;
}

.menu__item-link {
  display: block;
  color: $color-text-light;
  @extend %Montserrat-regular;
  @include header-font(uppercase, 14);
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;

  &:hover {
    color: $color-hover;
    border-bottom: 2px solid #fce38a;
    padding-bottom: 12px;
  }
}

.nav__icon {
  fill: $color-text-light;
  width: 20px;
  height: 20px;

  &:hover {
    fill: $color-hover;
  }
}

.welcome {
  width: 840px;
  margin: auto;
  text-align: center;
  padding-bottom: 230px;

  &__subtitle {
    @extend %Kaushan-regular;
    @include header-font(none, 72);
    margin-bottom: 66px;
  }

  &__title {
    @extend %Montserrat-bold;
    @include header-font(uppercase, 150);
    margin-bottom: 126px;
  }

  &__btn {
    @extend %Montserrat-bold;
    @include header-font(uppercase, 14);
    padding: 12px 30px;
    border: 3px solid #ffffff;
    background-color: transparent;
  }
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .wrapper-header {
    background-image: linear-gradient(90deg, rgba(252, 227, 138, 0.8) 0%, rgba(243, 129, 129, 0.8) 100%), url("../img/header-bg@2x.jpg");
  }
}
